# ***Entrega NOTEBOOK 7***
**Alumna** : Berenice Ballon Guado

In [ ]:
from  google.colab import drive
drive.mount('/content/drive')
%cd /content/drive/MiUnidad/CursoSD

Mounted at /content/drive
[Errno 2] No such file or directory: '/content/drive/MiUnidad/CursoSD'
/content

In [ ]:
# Importamos las librerias con las cuales estamos trabajando en esta parte del curso
import pandas as pd
import numpy as np

In [ ]:
# Leemos los datos
datos = pd.read_csv('/content/drive/MyDrive/CursoDS/Life Expectancy Data.csv')
print(datos)

          Country  Year      Status  Life expectancy   Adult Mortality  \
0     Afghanistan  2015  Developing              65.0            263.0
1     Afghanistan  2014  Developing              59.9            271.0
2     Afghanistan  2013  Developing              59.9            268.0
3     Afghanistan  2012  Developing              59.5            272.0
4     Afghanistan  2011  Developing              59.2            275.0
...           ...   ...         ...               ...              ...
2933     Zimbabwe  2004  Developing              44.3            723.0
2934     Zimbabwe  2003  Developing              44.5            715.0
2935     Zimbabwe  2002  Developing              44.8             73.0
2936     Zimbabwe  2001  Developing              45.3            686.0
2937     Zimbabwe  2000  Developing              46.0            665.0

      infant deaths  Alcohol  percentage expenditure  Hepatitis B  Measles   \
0                62     0.01               71.279624         65.0      1154
1                64     0.01               73.523582         62.0       492
2                66     0.01               73.219243         64.0       430
3                69     0.01               78.184215         67.0      2787
4                71     0.01                7.097109         68.0      3013
...             ...      ...                     ...          ...       ...
2933             27     4.36                0.000000         68.0        31
2934             26     4.06                0.000000          7.0       998
2935             25     4.43                0.000000         73.0       304
2936             25     1.72                0.000000         76.0       529
2937             24     1.68                0.000000         79.0      1483

      ...  Polio  Total expenditure  Diphtheria    HIV/AIDS         GDP  \
0     ...    6.0               8.16         65.0        0.1  584.259210
1     ...   58.0               8.18         62.0        0.1  612.696514
2     ...   62.0               8.13         64.0        0.1  631.744976
3     ...   67.0               8.52         67.0        0.1  669.959000
4     ...   68.0               7.87         68.0        0.1   63.537231
...   ...    ...                ...          ...        ...         ...
2933  ...   67.0               7.13         65.0       33.6  454.366654
2934  ...    7.0               6.52         68.0       36.7  453.351155
2935  ...   73.0               6.53         71.0       39.8   57.348340
2936  ...   76.0               6.16         75.0       42.1  548.587312
2937  ...   78.0               7.10         78.0       43.5  547.358878

      Population   thinness  1-19 years   thinness 5-9 years  \
0     33736494.0                   17.2                 17.3
1       327582.0                   17.5                 17.5
2     31731688.0                   17.7                 17.7
3      3696958.0                   17.9                 18.0
4      2978599.0                   18.2                 18.2
...          ...                    ...                  ...
2933  12777511.0                    9.4                  9.4
2934  12633897.0                    9.8                  9.9
2935    125525.0                    1.2                  1.3
2936  12366165.0                    1.6                  1.7
2937  12222251.0                   11.0                 11.2

      Income composition of resources  Schooling
0                               0.479       10.1
1                               0.476       10.0
2                               0.470        9.9
3                               0.463        9.8
4                               0.454        9.5
...                               ...        ...
2933                            0.407        9.2
2934                            0.418        9.5
2935                            0.427       10.0
2936                            0.427        9.8
2937                            0.434        9.8

[2938 rows x 22 columns]

In [ ]:
# Obtengo el tipo de estructura de datos
type(datos)

pandas.core.frame.DataFrame

In [ ]:
# Uso .shape para obtener cantidad de filas y columnas

#Suelo hacer esto
fila = len(datos)                      # Cantidad de filas
columna = len(datos.columns)           # Cantidad de columnas
print(f"Cantidad de filas: {fila}")
print(f"Cantidad de columnas: {columna}")

# Con el shape
datos.shape
print(f" Mi archivo tiene: {datos.shape[0]} filas y {datos.shape[1]} columnas")

Cantidad de filas: 2938
Cantidad de columnas: 22
 Mi archivo tiene: 2938 filas y 22 columnas

5) ¿Cual es el nombre de las columnas contenidas en `expvida`?

In [ ]:
# Obtengo el nombre de las columnas
datos.columns

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

6) Inspecciona las primeras 10 filas de `expvida`

In [ ]:
# Inspecciono las primeras 10 filas de expvida
datos.head(10)

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
5,Afghanistan,2010,Developing,58.8,279.0,74,0.01,79.679367,66.0,1989,...,66.0,9.20,66.0,0.1,553.328940,2883167.0,18.4,18.4,0.448,9.2
6,Afghanistan,2009,Developing,58.6,281.0,77,0.01,56.762217,63.0,2861,...,63.0,9.42,63.0,0.1,445.893298,284331.0,18.6,18.7,0.434,8.9
7,Afghanistan,2008,Developing,58.1,287.0,80,0.03,25.873925,64.0,1599,...,64.0,8.33,64.0,0.1,373.361116,2729431.0,18.8,18.9,0.433,8.7
8,Afghanistan,2007,Developing,57.5,295.0,82,0.02,10.910156,63.0,1141,...,63.0,6.73,63.0,0.1,369.835796,26616792.0,19.0,19.1,0.415,8.4
9,Afghanistan,2006,Developing,57.3,295.0,84,0.03,17.171518,64.0,1990,...,58.0,7.43,58.0,0.1,272.563770,2589345.0,19.2,19.3,0.405,8.1

7) Y ahora las 10 ultimas.

In [ ]:
# Inspecciono las ultimas filas
datos.tail(10)

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
2928,Zimbabwe,2009,Developing,50.0,587.0,30,4.64,1.040021,73.0,853,...,69.0,6.26,73.0,18.1,65.824121,1381599.0,7.5,7.4,0.419,9.9
2929,Zimbabwe,2008,Developing,48.2,632.0,30,3.56,20.843429,75.0,0,...,75.0,4.96,75.0,20.5,325.678573,13558469.0,7.8,7.8,0.421,9.7
2930,Zimbabwe,2007,Developing,46.6,67.0,29,3.88,29.814566,72.0,242,...,73.0,4.47,73.0,23.7,396.998217,1332999.0,8.2,8.2,0.414,9.6
2931,Zimbabwe,2006,Developing,45.4,7.0,28,4.57,34.262169,68.0,212,...,71.0,5.12,7.0,26.8,414.796232,13124267.0,8.6,8.6,0.408,9.5
2932,Zimbabwe,2005,Developing,44.6,717.0,28,4.14,8.717409,65.0,420,...,69.0,6.44,68.0,30.3,444.765750,129432.0,9.0,9.0,0.406,9.3
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

8) ¿Que tipos de datos contiene cada una de las columnas de `expvida`?

In [ ]:
# Tipo de datos en cada columna
datos.dtypes

Country                             object
Year                                 int64
Status                              object
Life expectancy                    float64
Adult Mortality                    float64
infant deaths                        int64
Alcohol                            float64
percentage expenditure             float64
Hepatitis B                        float64
Measles                              int64
 BMI                               float64
under-five deaths                    int64
Polio                              float64
Total expenditure                  float64
Diphtheria                         float64
 HIV/AIDS                          float64
GDP                                float64
Population                         float64
 thinness  1-19 years              float64
 thinness 5-9 years                float64
Income composition of resources    float64
Schooling                          float64
dtype: object

In [ ]:
# Obtengo la cantidad de datos faltantes en cada columna
datos.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

In [ ]:
# Obtengo el maximo valor de datos faltantes y lo guardo en la variable masnan
masnan = datos.isnull().sum().max()
print(f"El maximo valor de datos faltantes es: {masnan}")

El maximo valor de datos faltantes es: 652

In [ ]:
# Obtengo la cantidad de filas total y
# divido el maximo valor de datos faltantes por este numero
# y lo multiplico por 100
# preguntar
porcentaje = (masnan/fila)*100
print(f"Porcentaje de filas es igual a : {porcentaje:.2f} %")

Porcentaje de filas es igual a : 22.19 %

In [ ]:
# Imprimo el maximo porcentaje de datos faltantes. Uso f-strings.
print(f"El máximo porcentaje de datos faltantes es igual  a : {porcentaje:.2f} %")

El máximo porcentaje de datos faltantes es igual  a : 22.19 %

In [ ]:
x = str(porcentaje)
print(type(x))

<class 'str'>

#### Ahora vamos a realizar algunos calculos y manipulaciones sobre las columnas.

> Agregar bloque entrecomillado

11) Renombra la columna 'Life expectancy ' como 'life_expectancy', ' BMI ' como 'bmi' y ''Measles ' como 'measles'. No olvides de usar `inplace` para modificar el DataFrame original. Luego chequea que el cambio se haya hecho correctamente.

In [ ]:
# Renombro columnas del DataFrame que llame datos
datos.rename(columns={'Life expectancy ': 'life_expectancy', ' BMI ': 'bmi', 'Measles ': 'measles'}, inplace=True)

In [ ]:
# Chequeo que se hayan reemplazado correctamente
print(datos.columns)

Index(['Country', 'Year', 'Status', 'life_expectancy', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'measles', 'bmi', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [ ]:
# Obtengo el promedio de la columna
prom = datos['life_expectancy'].mean().round(3) # Round redondea el valor
print(f"Promedio de la columna de life_expectancy es : {prom}")

Promedio de la columna de life_expectancy es : 69.225

In [ ]:
# Obtengo el promedio por pais
prom_pais = datos.groupby('Country')['life_expectancy'].mean()
# groupby va a agrupar los promedios en filas por pais

print(prom_pais)

Country
Afghanistan                           58.19375
Albania                               75.15625
Algeria                               73.61875
Angola                                49.01875
Antigua and Barbuda                   75.05625
                                        ...
Venezuela (Bolivarian Republic of)    73.38750
Viet Nam                              74.77500
Yemen                                 63.86250
Zambia                                53.90625
Zimbabwe                              50.48750
Name: life_expectancy, Length: 193, dtype: float64

In [ ]:
# Maxima expectativa de vida usando numpy
np.max(datos['life_expectancy'])

89.0

In [ ]:
# Maxima expectativa de vida usando pandas
max = datos['life_expectancy'].max()

In [ ]:
# Minima expectativa de vida usando numpy
np.min(datos['life_expectancy'])

36.3

In [ ]:
# Minima expectativa de vida usando pandas
min = datos['life_expectancy'].min()

In [ ]:
# Muestro los resultados maximos
print(f"El máximo expectativa de vida es : {max}")

El máximo expectativa de vida es : 89.0

In [ ]:
# Muestro los resultados minimos
print(f"El mínimo expectativa de vida es : {min}")

El mínimo expectativa de vida es : 36.3

In [ ]:
# Filtro las columnas para mostrar solo las filas que tengan valor
# igual al maximo

if max in datos['life_expectancy']:
  print(datos[datos['life_expectancy'] == max])

          Country  Year      Status  life_expectancy  Adult Mortality  \
241       Belgium  2014   Developed             89.0             76.0
915       Finland  2014  Developing             89.0             78.0
937        France  2008  Developing             89.0             88.0
938        France  2007  Developing             89.0             89.0
995       Germany  2014   Developed             89.0             69.0
1293        Italy  2004   Developed             89.0             66.0
1850  New Zealand  2010   Developed             89.0             71.0
1916       Norway  2009   Developed             89.0             67.0
2056     Portugal  2014   Developed             89.0             78.0
2433        Spain  2007   Developed             89.0             72.0
2513       Sweden  2007   Developed             89.0             63.0

      infant deaths  Alcohol  percentage expenditure  Hepatitis B  measles  \
241               0    12.60             7163.348923         98.0       70
915               0     8.80             6164.455402          NaN        0
937               3    11.90             7002.785925         47.0      604
938               3    12.20               64.737149         42.0       39
995               2    11.03              941.756291         88.0      443
1293              2     8.98             4270.914882         96.0      599
1850              0     9.62             6664.148708          9.0       43
1916              0     6.68              142.374943          NaN        2
2056              0     9.88              271.254553         98.0        0
2433              2    11.05              510.932701         96.0      267
2513              0     6.90             7593.391622          NaN        1

      ...  Polio  Total expenditure  Diphtheria    HIV/AIDS          GDP  \
241   ...   99.0               1.59         99.0        0.1  47439.39684
915   ...   98.0               9.68         98.0        0.1  49914.61864
937   ...   98.0               1.57         98.0        0.1  45413.65710
938   ...   99.0               1.45         98.0        0.1    416.58397
995   ...   94.0              11.30         95.0        0.1   4792.65288
1293  ...   97.0               8.49         94.0        0.1  31174.56118
1850  ...   93.0              11.20         93.0        0.1  33691.34837
1916  ...   94.0               9.49         94.0        0.1    817.77681
2056  ...   98.0               9.50         98.0        0.1   2277.53613
2433  ...   96.0               8.36         96.0        0.1   3279.41400
2513  ...   98.0               8.92         98.0        0.1  53324.37937

      Population   thinness  1-19 years   thinness 5-9 years  \
241     112957.0                    1.0                  1.0
915    5461512.0                    0.9                  0.8
937    6437499.0                    0.6                  0.6
938    6416229.0                    0.6                  0.6
995      89825.0                    1.1                  1.1
1293  57685327.0                    0.5                  0.5
1850         NaN                    0.3                  0.3
1916   4828726.0                    0.7                  0.7
2056     14162.0                    0.7                  0.5
2433   4522683.0                    0.6                  0.5
2513    914892.0                    1.3                  1.3

      Income composition of resources  Schooling
241                             0.890       16.3
915                             0.890       17.0
937                             0.877       16.1
938                             0.873       16.1
995                             0.920       17.0
1293                            0.846       15.6
1850                            0.899       20.3
1916                            0.936       17.4
2056                            0.837       16.8
2433                            0.849       16.0
2513                            0.895       15.8

[11 rows x 22 columns]

In [ ]:
# Filtro las columnas para mostrar solo las filas que tengan valor
# igual al minimo
if min in datos['life_expectancy']:
  print(datos[datos['life_expectancy'] == min])

\15) ¿Cuantas categorias encontramos en la columna "Status"? _**Pista**_: Lee acerca de la función [unique()](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.unique.html?highlight=unique#pandas.Series.unique)

In [ ]:
# Obtengo los valores unicos de la columna status
datos['Status'].unique()

array(['Developing', 'Developed'], dtype=object)

16) ¿Cuantos paises se ubican en cada una de esas categorias de "Status"? _**Pista**_: Lee acerca de la función [value_counts()](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html)

In [ ]:
# Cuento cuantos valores hay de cada categoria
print(datos.value_counts())

Country      Year  Status      life_expectancy  Adult Mortality  infant deaths  Alcohol  percentage expenditure  Hepatitis B  measles  bmi   under-five deaths   Polio  Total expenditure  Diphtheria    HIV/AIDS  GDP          Population   thinness  1-19 years   thinness 5-9 years  Income composition of resources  Schooling
Zimbabwe     2014  Developing  59.2             371.0            23             6.50     10.822595               91.0         0        31.3  34                  92.0   6.44               91.0         6.3        127.474620   15411675.0  5.9                    5.7                  0.498                            10.3         1
Zambia       2013  Developing  63.0             328.0            29             2.41     20.623063               79.0         35       22.3  42                  74.0   4.99               79.0         4.8        185.793359   1515321.0   6.4                    6.2                  0.565                            12.5         1
             2012  Developing  59.2             349.0            29             2.59     196.915250              78.0         896      21.7  43                  7.0    4.91               78.0         5.6        1734.936120  14699937.0  6.5                    6.3                  0.554                            12.3         1
             2011  Developing  58.2             366.0            29             2.57     183.046169              81.0         13234    21.2  44                  83.0   4.26               81.0         6.3        1644.619672  14264756.0  6.6                    6.4                  0.543                            12.0         1
             2010  Developing  58.0             363.0            30             2.47     184.364910              83.0         15754    2.7   45                  8.0    4.41               83.0         6.8        1463.213573  138533.0    6.7                    6.5                  0.533                            11.8         1
                                                                                                                                                                                                                                                                                                                                     ..
Afghanistan  2005  Developing  57.3             291.0            85             0.02     1.388648                66.0         1296     14.2  118                 58.0   8.70               58.0         0.1        25.294130    257798.0    19.3                   19.5                 0.396                            7.9          1
             2004  Developing  57.0             293.0            87             0.02     15.296066               67.0         466      13.8  120                 5.0    8.79               5.0          0.1        219.141353   24118979.0  19.5                   19.7                 0.381                            6.8          1
             2003  Developing  56.7             295.0            87             0.01     11.089053               65.0         798      13.4  122                 41.0   8.82               41.0         0.1        198.728544   2364851.0   19.7                   19.9                 0.373                            6.5          1
             2002  Developing  56.2             3.0              88             0.01     16.887351               64.0         2486     13.0  122                 36.0   7.76               36.0         0.1        187.845950   21979923.0  19.9                   2.2                  0.341                            6.2          1
             2001  Developing  55.3             316.0            88             0.01     10.574728               63.0         8762     12.6  122                 35.0   7.80               33.0         0.1        117.496980   2966463.0   2.1                    2.4                  0.340                            5.9          1
Name: count, Length: 1649, dtype: int64

18) ¿Cuantos paises presentaron algun caso de Sarampion (**Measles**) en el 2015? **_Pista_**: Lee acerca de la función [.count()](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.count.html?highlight=count#pandas.DataFrame.count)

In [ ]:
# Cuento cuantas filas tienen valores distintos de cero
print(datos.count())     # Count cuenta cuantos valores no nulos hay.

Country                            2938
Year                               2938
Status                             2938
life_expectancy                    2928
Adult Mortality                    2928
infant deaths                      2938
Alcohol                            2744
percentage expenditure             2938
Hepatitis B                        2385
measles                            2938
bmi                                2904
under-five deaths                  2938
Polio                              2919
Total expenditure                  2712
Diphtheria                         2919
 HIV/AIDS                          2938
GDP                                2490
Population                         2286
 thinness  1-19 years              2904
 thinness 5-9 years                2904
Income composition of resources    2771
Schooling                          2775
dtype: int64